<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="tracking-in-expand">Categorias</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
        <ion-buttons end>
            <button ion-button color="light" (click)="addCategoryPrompt()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let category of categories" (click)="goToActivities(category.id)">
        <img src="{{category.image}}" />
        <div class="card-title">{{category.category}}</div>
        <div class="card-subtitle">
            <ion-icon color="indigo" name="{{category.icon}}"></ion-icon>
        </div>
    </ion-card>
</ion-content>