reserve-detail {
    .header-card {
        border-bottom: solid 1px lightgray;
        h2 {
            font-weight: 700;
        }
        ion-note {
            padding: 1em;
            width: 8em;
            font-weight: 700;
        }
        .rejected {
            background-color: salmon;
            color: crimson;
            border-right: solid 3px crimson;
        }
        .active {
            background-color: lightgreen;
            color: green;
            border-right: solid 3px green;
        }
        .pending {
            background-color: lightgoldenrodyellow;
            color: orange;
            border-right: solid 3px orange;
        }
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        ion-icon {
            color: #fff;
            font-size: 2em;
        }
    }
}