<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Notas</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
        <ion-buttons end>
            <button ion-button color="light" (click)="addNotePrompt()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let note of notes">
        <img src="{{note.url_imagen}}" />
        <ion-card-content>
            <h1>
                {{note.titulo}}
            </h1>
            <p>{{note.contenido}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col center text-center>
                <ion-note>
                    {{note.lugar}}
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>

    <h1 *ngIf="notes != undefined && notes.length == 0">No hay notas</h1>

</ion-content>